<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ANPI VIP Online</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="description" content="overview &amp; stats" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0WQpJlEX7RUZGvggednbRM4VVz_6Li-Q&sensor=false"/>-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

  <!--[if IE 7]>
    <%= javascript_include_tag "font-awesome-ie7.min", "data-turbolinks-track" => true %>
  <![endif]-->

  <!--[if lte IE 8]>
	<%= javascript_include_tag "ace-ie.min", "data-turbolinks-track" => true %>
  <![endif]-->

  <!-- inline styles related to this page -->
  <style>
      .profile-info-name{
          width: 135px;
      }
      .profile-info-value{
          margin-left: 135px;
      }
      #360_search .page-content , #360_search .page-content  p, #360_search .page-content  ol, #360_search .page-content  ul, #360_search .page-content  td
    {
        font-size: 10px !important;
    }
      #360_search .page-content  .profile-user-info-striped, #360_search .page-content   .profile-info-value
      {

      }
      .page-content  select
      {
          height: 24px !important;
          padding: 3px 4px !important;
          font-size: 10px !important;
      }
      .page-content  input[type="text"]
      {
          font-size: 10px !important;
      }
      .page-content  textarea
      {
          font-size: 10px !important;
      }
      .page-content  button
      {
          font-size: 10px !important;
      }
      .page-content   .btn-sm
      {
          padding : 0 2px !important;
      }
      .profile-info-name
      {
          padding: 3px 10px 3px 0 !important;
      }
      p, ol, ul, td
      {
          font-size: 10px !important;
      }
      .page-header
      {
           padding : 0px 0px 7px 0px !important;
      }
      .form-actions
      {
          padding: 10px 19px 9px !important;
      }
      .form-actions center
       {
          margin : 0px !important;
          padding: 5px 20px !important;
       }
      .form-actions button
      {
          font-size: 10px !important;

      }
      .page-header
      {
         padding: 0px !important;
      }
          .page-content
          {
              padding-top:0px !important ;
          }


  </style>

  <!-- ace settings handler -->
  <%#= javascript_include_tag "ace-extra.min" %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
	<%= javascript_include_tag "html5shiv", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "respond.min", "data-turbolinks-track" => true %>
  <![endif]-->
</head>

<body>

<%= yield %>

</body>
</html>
