<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ANPI VIP Online</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="description" content="overview &amp; stats" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!--[if IE 7]>
    <%= javascript_include_tag "font-awesome-ie7.min", "data-turbolinks-track" => true %>
  <![endif]-->

  <!--[if lte IE 8]>
	<%= javascript_include_tag "ace-ie.min", "data-turbolinks-track" => true %>
  <![endif]-->

  <!-- inline styles related to this page -->

  <!-- ace settings handler -->
  <%= javascript_include_tag "ace-extra.min" %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
	<%= javascript_include_tag "html5shiv", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "respond.min", "data-turbolinks-track" => true %>
  <![endif]-->

</head>

<body>
<div class="navbar navbar-default" id="navbar">
  <script type="text/javascript">
      try {
          ace.settings.check('navbar', 'fixed')
      } catch (e) {
      }
  </script>
  <%= render 'layouts/navbar' %>
</div>

<%= render 'layouts/topbar' %>

<%= render 'layouts/sidebar' %>

<div class="main-container container" id="main-container">
  <script type="text/javascript">
      try {
          ace.settings.check('main-container', 'inside-container')
      } catch (e) {
      }
  </script>

  <div class="main-container-inner">
    <div class="main-content">
      <div class="page-content">
        <div class="row">
          <div class="col-xs-12">
            <%= yield %>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div><!-- /.main-content -->
  </div>
</div>


<!-- basic scripts -->
<!--[if !IE]>
        <%= javascript_include_tag "jquery-2.0.3.min" %>
     <![endif]-->

<!--[if IE]>
        <%= javascript_include_tag "jquery-1.10.2.min" %>
    <![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='assets/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<!-- page specific plugin scripts -->

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <span>© ANPI&nbsp;</span>|<a href="http://www.anpi.com/anpi-privacy-statement/" target="_blank">Privacy Statement</a>&nbsp;|&nbsp;<a href="http://www.anpi.com/terms-and-conditions/" target="_blank">Terms and Conditions</a>
  </div>
</footer>


<script>
    $(document).ajaxSend(function(event, request, settings) {
        $('#loading-indicator').show();
    });

    $(document).ajaxComplete(function(event, request, settings) {
        $('#loading-indicator').hide();
    });
</script>

</body>
</html>
